# Writable cache, logs and sessions
/writable/cache/*
!/writable/cache/index.html
/writable/debugbar/*
!/writable/debugbar/index.html
/writable/logs/*
!/writable/logs/index.html
/writable/session/*
!/writable/session/index.html
/writable/uploads/*
!/writable/uploads/index.html

# Dependencies
/vendor/

# OS and IDE temporary files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*~
